.container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    animation: flying 10s ease-in-out infinite;
    z-index: 10;
}

@keyframes flying {
    0% {
        transform: translateX(-50%) translateY(45%);
    }

    50% {
        transform: translateX(-50%) translateY(60%);
    }

    100% {
        transform: translateX(-50%) translateY(45%);
    }
}

/*tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 400px;
        height: 400px;
    }
}

/*phone*/

@media (max-width: 767px) {

    .container {
        width: 300px;
        height: 300px;
    }
}