.animationCloud1,
.animationCloud2,
.animationCloud4,
.animationCloud5,
.animationCloud6,
.animationCloud7 {
    position: absolute;
    overflow: hidden;
}

.animationCloud1 {
    left: 1%;
    bottom: 45%;
    animation: flyingCloud1 2s linear infinite;
    opacity: 0.7;
}

@keyframes flyingCloud1 {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.animationCloud2 {
    left: 2%;
    bottom: 33%;
    animation: flyingCloud2 3s linear infinite;
    opacity: 0.7;
}

@keyframes flyingCloud2 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.animationCloud4 {
    left: 15%;
    top: 25%;
    animation: flyingCloud4 5s linear infinite;
    opacity: 0.7;
}

@keyframes flyingCloud4 {
    0% {
        transform: translateX(-80%);
    }
    50% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-80%);
    }
}

.animationCloud5 {
    left: 25%;
    top: 5%;
    animation: flyingCloud5 2s linear infinite;
    opacity: 0.7;
}

@keyframes flyingCloud5 {
    0% {
        transform: translateX(50%);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(50%);
    }
}


.animationCloud6 {
    position: fixed;
    left: -1%;
    bottom: -2%;
    animation: animationCloud6 3s infinite ease-in-out;
}

@keyframes animationCloud6 {
    0% {
        transform: translate(-5px, -5px);
    }
    20% {
        transform: translate(5px, -5px);
    }
    40% {
        transform: translate(-15px, 5px);
    }
    60% {
        transform: translate(5px, 5px);
    }
    80% {
        transform: translate(-10px, -15px);
    }
    100% {
        transform: translate(-5px, -5px);
    }
}

.animationCloud7 {
    position: fixed;
    right: -2%;
    bottom: -2%;
    animation: animationCloud7 1s infinite ease-in-out;
}

@keyframes animationCloud7 {
    0% {
        transform: translate(-5px, -5px);
    }
    20% {
        transform: translate(5px, -5px);
    }
    40% {
        transform: translate(-15px, 5px);
    }
    60% {
        transform: translate(5px, 5px);
    }
    80% {
        transform: translate(-10px, -15px);
    }
    100% {
        transform: translate(-5px, -5px);
    }
}
